/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* better box model */
* { 
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100%;
	background-image: url(../img/doorbg.png);
	background-repeat: repeat;
	position: absolute;
	overflow: hidden;
}
.floor {
	position: absolute;
	height: 200px;
	width: 100%;
	bottom: 0;
	background-image: url("../img/doorfloor.png");
	background-repeat: repeat;
}
.murphy {
	position: absolute;
	left: calc(50% - 180px);
	bottom: 70px;
	transition: opacity 0.5s;
}
.murphyout {
	position: absolute;
	left: calc(50% + 80px);
	bottom: 220px;
	opacity: 0;
	transition: opacity 0.5s;
}
.door {
	position: absolute;
	left: calc(50% + 20px);
	bottom: 175px;
	cursor: pointer;
}
.outsidecolor {
	position: absolute;
	left: calc(50% + 25px);
	bottom: 215px;
	width: 290px;
	height: 500px;
	background-color: #c17b4c;
}
.windowshine {
	position: absolute;
	width: 253px;
	height: 412px;
	left: calc(50% + 50px);
	bottom: 285px;
}
.homepaw {
	position: absolute;
	display: none;
	transition: opacity 1s;
	opacity: 0;
	bottom: 50px;
	right: 50px;
}
.pawprintanimate {
	animation-name: pawbob;
	animation-duration: 1s;
	animation-iteration-count:infinite;
}
@keyframes pawbob {
	0% {
		padding-bottom: 0;
	}
	50% {
		padding-bottom: 10px;
	}
	100% {
		padding-bottom: 0;
	}
}
.narration {
	font-family: 'Cambo', serif;
	font-size: 28px;
	line-height: 32px;
	padding: 30px;
	background-color: white;
	width: 300px;
	position: absolute;
	left: 50px;
	top: 50px;
	box-shadow: 10px 10px 5px #888888;
}
.narration span {
	display: block;
	color: gray;
	font-style: italic;
	font-size: 20px;
	line-height: 23px;
	padding-top: 10px;
}

/* Common Classes */
.clearfix:before, .clearfix:after {
	content: " "; 
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
