/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* better box model */
* { 
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.container {
	background-image: url("../img/homebackground.png");
	background-repeat: repeat;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.floor {
	position: absolute;
	height: 400px;
	width: 100%;
	bottom: 0;
	background-image: url("../img/backgroundfloor1.png");
	background-repeat: repeat;
}
.rug {
	position: absolute;
	left: calc(50% - 365px);
	bottom: 105px;
}
.murphysit {
	position:absolute;
	left: calc(50% - 350px);
	bottom: 130px;
}
.thought {
	position: absolute;
	left: calc(50% - 70px);
	bottom: 480px;
	opacity: 0;
}
@keyframes thoughtballoonfade {
0%   { opacity: 0; }
100% { opacity: 1; }
}
.thoughtanimation {
	animation-name: thoughtballoonfade;
	animation-duration: 1s;
	opacity: 1;
}
.narration {
	font-family: 'Cambo', serif;
	font-size: 28px;
	line-height: 32px;
	padding: 30px;
	background-color: white;
	width: 300px;
	position: absolute;
	right: 150px;
	bottom: 105px;
	box-shadow: 10px 10px 5px #888888;
}
.narration span {
	display: block;
	color: gray;
	font-style: italic;
	font-size: 20px;
	line-height: 23px;
	padding-top: 10px;
}
.flowerpot {
	position: absolute;
	bottom: 180px;
	left: 60px;
}
.foodbowl {
	position: absolute;
	bottom: 50px;
	left: 140px;
}
.door {
	position: absolute;
	bottom: 150px;
	right: -250px;
}

/* Common Classes */
.clearfix:before, .clearfix:after {
	content: " "; 
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.clear {
	clear: both;
}
.left {
	float: left;
}
.right {
	float: right;
}
